.notes-page {
    width: 90%;
    height: 90%;
    background-color: rgb(238, 238, 238);
    display: flex;
}
.panel {
    min-width: 30%;
    flex-basis: 30%;
    border-right: 1px solid rgb(168, 168, 168);
}
.panel__header {
    padding: 0 6px;
    height: 50px;
    /* padding: .5em .3em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 236, 126);
    box-shadow: 0px 1px 2px rgb(180, 180, 180);
}
.panel__title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.panel__button {
    background-color: rgb(248, 255, 149);
    width: 1.4em;
    height: 1.4em;
    font-size: 24px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 1px 1.4px 1px rgb(235, 215, 38);
}
.panel__button:hover {
    transform: scale(1.05);
}
.panel__button_clicked {
    transform: rotateZ(0);
}
.notes__smalls {
    padding: 2px 2px;
    overflow-y: scroll;
}
.notes__smalls::-webkit-scrollbar {
	-webkit-appearance: none;
    width: 0px;
}
.notes__note {
    margin-top: 2px;
    height: 50px;
}

.note {
    /* border: 1px solid black; */
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0px 4px;
}
.note:hover {
    background-color: rgb(254, 255, 224);
}
.note__text-container {
    flex: 1 1 auto;
    /* background-color: blanchedalmond; */
    padding: 5px 5px;
}
.note__text {
    line-height: 1em;
    margin: 0;
    height: 100%;
    /* background-color: blueviolet; */
    overflow: hidden;
}
.note__button {
    cursor: pointer;
    outline: none;
    border: 1.5px solid rgb(211, 68, 68);
    align-self: center;
    background-color: #fff;
    border-radius: 3px;
}
.note__button:hover {
    color: white;
    background-color: rgb(211, 68, 68);
}
.notes__area {
    flex: 1 1 auto;
    /* background-color: antiquewhite; */
}
.note-creation {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.note-creation__input {
    display: block;
    outline: none;
    /* width: 100%; */
}
.note-creation__area {
    /* background-color: beige; */
    outline: none;
    display: block;
    resize: none;
    flex: 1 1 auto;
    /* width: 100%; */
}
.note-creation__area::-webkit-scrollbar {
	-webkit-appearance: none;
    width: 3px;
    background-color: rgb(216, 216, 216);
}
.note-creation__area::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 87);
}
.empty-note {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-note__text {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
.note-creation {
    padding: 3px 3px;
}
.note-creation__input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
    padding: .6em 1em;
    border: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.note-creation__area {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
    border: none;
    padding: .6em 1em;
}
.note-creation__button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}
.note-creation__button:hover {
    color: rgb(173, 173, 173);
}