.main {
    height: 93%;
    flex: 1 1 auto;
    display: flex;
    /* align-items: center; */
}
.container {
    max-height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 5px 0px rgba(129, 129, 129, 0.69);
    border-radius: 0px 0px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}