.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 235, 96);
    padding: 0 15px;
    height: 7%;
}

.header__logo {
    font-weight: 600;
    font-size: 18px;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar__item {
    margin-right: 5px;
}
.navbar__link {
    text-decoration: none;
    color: black
}
.navbar__link:hover {
    text-decoration: underline;
}
.navbar__link_active {
    color: gray;
}